<div class="appContainer">
  <div class="topBar">
    <app-top-bar></app-top-bar>
  </div>
  <div class="addUserContainer">
    <app-add-user></app-add-user>
  </div>
  <div class="userListContainer">
    <h2>Users</h2>
    <table>
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Surname</th>
          <th>Show details</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-user
          *ngFor="let user of usersList"
          [user]="user"
          >
        </tr>
      </tbody>
    </table>
  </div>
</div>
