.user {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  background-color: blueviolet;
  line-height: 3;
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
i {
  margin-top: 5px;
  vertical-align: middle;
}
